@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}
body {
  background-color: #ffffff;
}

/* HEADER STYLES */
header {
  background-color: rgba(255, 144, 14, 0.1);
}
.nev-container {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
}
.nev-logo {
  margin-left: 65px;
}
.logo-name {
  font-size: 45px;
}
.nev-menus {
  display: flex;
  /* margin-right: 10px; */
}
li {
  list-style: none;
}
.menu-anchor a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  margin-right: 85px;
}

/* HEADER STYLES RESPONSIVE */
@media screen and (max-width: 600px) {
  .nev-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
  }
  .nev-logo {
    margin-left: 0px;
  }
  .logo-name {
    text-align: center;
  }
  .nev-menus {
    display: flex;
    margin-top: 30px;
  }

  .menu-anchor a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    margin-right: 12px;
    background-color: #ff900e;
    padding: 3px 5px;
    border-radius: 5px;
  }
}

/* BANNER SECTION */

.banner-section {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.banner-title {
  padding: 15px 35px;
  font-size: 64px;
  font-weight: 700;
  /* border: blue solid 3px; */
}
.description {
  /* border: blue solid 3px; */
  color: #727272;
  font-size: 16px;
  padding: 25px 35px;
}
.btn {
  background-color: #ff900e;
  padding: 15px 35px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  margin: 5px;
}
.banner-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-image-section img {
  width: 1400px;
  height: 700px;
  margin: 50px 240px 56px;
}

/* BANNER SECTION RESPONSIVE */
@media screen and (max-width: 600px) {
  .banner-image-section img {
    width: 100%;
    height: auto;
    /* padding-left: 5%;
    padding-right: 5%; */
    margin: 50px 540px;
  }
}

/* Features Sections */
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-section {
  display: flex;
}

.feature-left {
  display: flex;
  margin-top: 85px;
  margin-left: 110px;
  /* border: red solid 3px; */
}
.feature-images-row {
  margin-left: 24px;
}
.image {
  margin-bottom: 20px;
  box-shadow: 0px 0.01px 10px 0.5px #727272bb;
  border-radius: 8px;
}
.feature-right {
  display: flex;
  align-items: center;
  margin-top: 85px;
  margin-right: 110px;
  /* border: red solid 3px; */
}

.feature-title {
  color: rgba(114, 114, 114, 1);
  padding: 0px 35px;
  font-size: 45px;
  font-weight: 500;
  /* border: blue solid 3px; */
}
.title-black {
  font-weight: bold;
  color: rgba(19, 19, 19, 1);
}
.title-orange {
  color: #ff900e;
}
.feature-btn {
  background-color: #ff900e;
  padding: 15px 35px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  margin-left: 35px;
}

/* Features Sections responsive*/
@media screen and (max-width: 600px) {
  .feature-section {
    display: flex;
    flex-direction: column;
  }
  .feature-left {
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    margin-left: 0px;
    padding: 30px;
  }
  .feature-images-row {
    margin-left: 0px;
  }
  .feature-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-right: 0px;
    padding: 30px;
  }
  .feature-title {
    padding: 0px 25px;
    font-size: 30px;
    font-weight: 500;
    /* border: blue solid 3px; */
  }
}

/* Favorite Feature Sections */

.fvrt-feature {
  display: flex;
  justify-content: center;
  width: 1400px;
  /* border: red solid 3px; */
}
.fvrt-left {
  display: flex;
  flex-direction: column;
  margin-top: 85px;
  margin-right: 45px;
  padding-right: 40px;
}
.fvrt-title {
  font-size: 35px;
  padding: 5px 35px;
  border-left: 5px solid #ff900e;
}
.fvrt-des {
  color: #727272;
  font-size: 16px;
  padding: 15px 0px;
}
.example {
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0px 0.1px 20px 0.5px #727272bb;
}
.example-title {
  margin-top: 23px;
  padding: 0px 35px;
  font-size: 18px;
  font-weight: 600;
}
.example-des {
  color: #727272;
  font-size: 18px;
  padding: 15px 35px;
}
.fvrt-right {
  display: flex;
  margin-top: 85px;
  border-radius: 8px;
}

.exp-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 228px;
  height: 89px;
  font-size: 30px;
  font-weight: 700;
  padding: 42px 46px;
  background-color: #ff900e;
  border: none;
  border-radius: 8px;
  color: white;
  margin-top: -130px;
  margin-left: 13%;
}
.experience-text {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}

/* Favorite Feature Sections Responsive */
@media screen and (max-width: 600px) {
  .fvrt-feature {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .fvrt-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    margin-top: 55px;
    margin-right: 0px;
    padding: 20px;
  }
  .fvrt-title {
    text-align: center;
    font-size: 20px;
    padding: 15px 35px;
    border-left: 0px solid #ff900e;
    border-bottom: 5px solid #ff900e;
  }
  .fvrt-des {
    text-align: center;
    color: #727272;
    font-size: 16px;
    padding: 15px 0px;
  }
  .example-title {
    margin-top: 23px;
    padding: 0px 25px;
    font-size: 14px;
    font-weight: 600;
  }
  .example-des {
    color: #727272;
    font-size: 18px;
    padding: 10px 25px;
  }
  .fvrt-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }
  .fvrt-right img {
    width: 320px;
    border-radius: 8px;
  }
  .exp-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 39px;
    font-size: 18px;
    font-weight: 700;
    padding: 32px 36px;
    background-color: #ff900e;
    border: none;
    border-radius: 8px;
    color: white;
    margin-top: -30px;
    margin-left: 0%;
  }
  .experience-text {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
  }
}

/* Fact Sections */
.facts-section {
  margin-top: 100px;
  margin-left: 25px;
  width: 600px;
  /* border: #ff900e solid 2px; */
}
.facts-title {
  padding: 0px 35px;
  font-size: 25px;
  font-weight: 600;
}
.facts-des {
  color: #727272;
  font-size: 18px;
  padding: 15px 35px;
}
.facts-list {
  display: flex;
  justify-content: center;
  gap: 70px;
  width: 1550px;
  padding-top: 70px;
}
.icon {
  justify-content: center;
}
.fact {
  border: #ff900e solid 1.5px;
  text-align: center;
  padding: 30px 60px;
}
.fact-name {
  font-weight: 700;
  font-size: 45px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.fact-info {
  color: #5b5b5b;
  font-size: 20px;
  font-weight: 600;
}

/* Fact Sections Responsive */
@media screen and (max-width: 600px) {
  .facts-section {
    margin-top: 100px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }
  .facts-title {
    padding: 0px 25px;
    font-size: 18px;
    font-weight: 600;
  }
  .facts-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
  }
  .fact {
    border: #ff900e solid 1.5px;
    text-align: center;
    padding: 30px 40px;
    margin: 0px 30px;
  }
  .fact-name {
    font-weight: 700;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
}

/* SPONSORS SECTIONS */
.sponsors-text {
  text-align: center;
  margin-top: 200px;
  margin-left: 25px;
  width: 600px;
}
.sponsors-list {
  display: flex;
  justify-content: center;
  gap: 70px;
  width: 1550px;
  padding-top: 70px;
}
.sponsors {
  /* border: #ff900e solid 2px; */
  text-align: center;
  padding: 30px 22px;
}

/* SPONSORS SECTIONS RESPONSIVE*/
@media screen and (max-width: 600px) {
  .sponsors-text {
    text-align: center;
    margin-top: 100px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }
  .sponsors-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 5px;
    width: 100%;
    padding-top: 0px;
  }
  .sponsors img {
    /* border: #ff900e solid 2px; */
    text-align: center;
    padding: 0px 5px;
    width: 100px;
  }
}
/* FOOTER SECTIONS */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
}
.footer-text {
  color: #727272;
  font-size: 18px;
  text-align: center;
  padding: 30px 22px;
  background-color: #fff4e7;
  width: 1300px;
}

/* FOOTER SECTIONS RESPONSIVE */
@media screen and (max-width: 600px) {
  .footer-text {
    padding: 20px 12px;
    width: 300px;
    font-size: 16px;
  }
}
