@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}
body {
  background-color: rgba(255, 144, 14, 0.1);
}

/* HEADER STYLES */
header {
  /* display: flex;
  justify-content: center; */
}
.nev-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  border: solid red 3px;
}
.nev-logo {
  margin-left: 100px;
}
.logo-name {
  font-size: 45px;
}
.nev-anchor-list {
}
.nev-menus {
  display: flex;
}
li {
  list-style: none;
}
.menu-anchor a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  margin-right: 85px;
}

/* BANNER SECTION */

.banner-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
.banner-text-section {
  border: blue solid 3px;
}
.banner-title {
  padding: 15px 35px;
  font-size: 64px;
  font-weight: 700;
  /* border: blue solid 3px; */
}
.description {
  /* border: blue solid 3px; */
  color: #727272;
  font-size: 16px;
  padding: 25px 35px;
}
.btn {
  background-color: #ff900e;
  padding: 15px 35px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  margin: 5px;
}
.banner-image-section {
  border: blue solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-image-section img {
  width: 1400px;
  height: 700px;
  margin: 50px 240px 56px;
}
